<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1854},{206,181}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{206,181}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,1616},{206,181}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{206,181}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1250},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1042},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1042},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1042},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1681},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1250},{176,211}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1255},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>19.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,834},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1433},{206,181}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{206,181}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>20.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,834},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>21.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,834},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>23.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1463},{176,211}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>24.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,626},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>25.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,626},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>26.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,626},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>28.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,418},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>29.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,418},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1250},{206,181}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{206,181}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>30.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,418},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>31.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1676},{176,211}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>33.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,210},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>34.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,210},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>35.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,210},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>37.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>38.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1463},{176,211}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1250},{206,181}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{206,181}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1463},{206,181}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{206,181}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1676},{206,181}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{206,181}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,1671},{176,181}}</string>
                <key>offset</key>
                <string>{-15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{176,181}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,211}}</string>
                <key>sourceSize</key>
                <string>{206,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>10000_normal.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:077384fe2ea0460b0cab9d7fb082e3fd:1/1$</string>
            <key>textureFileName</key>
            <string>10000_normal.png</string>
        </dict>
    </dict>
</plist>
